<template name="Lobby">
	<div class="lobby">
		<h1>Public Lobby</h1>
	<!--
		<div class="ui form">
			<div class="field">
				<input type="text" class="ui input username" value="{{defaultusertext}}" {{readonly}} placeholder="Username Here">
			</div>
		</div>
	-->

		<br/>
		<a class="ui button js-createRoom">Create Room</a>
		<a class="ui button js-createPrivateRoom">Create Private Room</a>

		<a class="ui button js-clearAll">Clear All Rooms</a>
		<br/>
		<h2>Public Room List</h2>
		<ul>
			{{#each room in rooms}}
				{{> RoomListItem room=room}}
			{{else}}
				<li>No public rooms available <a class="ui button js-createRoom">Create Room</a></li>
			{{/each}}
		</ul>
		<h2>Private Room List</h2>
		<!--TODO: make private room visible based on criteria like who created room-->
		<ul>
			{{#each room in privateRooms}}
				{{> RoomListItem room=room}}
			{{else}}
				<li>No private rooms available <a class="ui button js-createPrivateRoom">Create Private Room</a></li>
			{{/each}}
		</ul>
		<div class="ui form">
			<div class="ui fluid action input">
				<input type="text" class="accesscode" placeholder="Fill in the room code" />
				<a class="ui button js-join">Join Game</a>
			</div>
		</div>
		{{> Chat accesscode="public"}}
	</div>
</template>
