<template name="RoomWrapper">
  {{#if Template.subscriptionsReady}}
  {{> Room room=getRoom}}
  {{else}}
  Loading room...
  {{/if}}
</template>

<template name="Room">
  {{#if room.isPublic}}Public{{else}}Private{{/if}} Room
  <br/>
  Room name: {{room.title}}
  {{#unless room.isPublic}}
  <br/>
  Access code: {{room.accessCode}}
  {{/unless}}
  <br/>
  Chat: 
  <br/>
  {{> Chat chat=getChat}}
  <br/>
  {{> RoomOccupants occupants=room.members}}
</template>

<template name="Chat">
  Chat title: {{chat.title}}
  <br/>
  {{#each message in chat.messages}}
    {{message.text}} - at {{message.timestamp}}
    <br/>
  {{/each}}
  <div class="ui fluid action input">
    <input type="text" class="message" />
    <a class="ui button js-sendMessage">Send</a>
  </div>
</template>

<template name="RoomOccupants">
  {{#if Template.subscriptionsReady}}
  {{#each occupant in getOccupants}}
    {{occupant.username}}
  {{else}}
  No occupant
  {{/each}}
  {{else}}
  Loading...
  {{/if}}
</template>
